@import url("https://fonts.googleapis.com/css?family=Raleway");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  
}

::selection {
  background-color: var(--primary-dark);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ternary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
}

.primary-text {
  font-weight: bold;
  text-align: center;
}

.bot-line {
  border: 2px solid var(--black);
  width: 5rem;
  margin-top: 0.3rem;
  position: absolute;
  left: calc(50% - 2.5rem);
}

.error_alert {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0;
  padding: 1rem;
  z-index: 1050;
}

.error_alert button.close {
  height: 100%;
}

@media (min-width: 992px) {
  .error_alert button.close {
    transform: translateY(-2px);
  }
}

.animator-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animateIcon {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  40% {
    transform: translateY(3rem);
    visibility: hidden;
  }
  60% {
    transform: translateY(-2rem);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-light: #04C2C9;
  --primary-dark: #17a2b8;
  --secondary: #E31B6D;
  --ternary: #1B242F;
  --ternary-light: #252934;
  --form-color: #1E242C;
  --bg-color: #F5F5F5 ;
  --white: #fff;
  --black: #000;
  --default-size: 6.25rem;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- stats.js ---- */
.particles-part {
  background: #111;
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js{ 
	width: 100%; 
	height: 100%; 
	background-color: #000000; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
} 

#loader {
  background: var(--ternary-light);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
}

#loader .spinner {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
}

#loader .spinner:after, #loader .spinner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-radius: 100%;
  animation: loading 1s linear infinite;
}

#loader .spinner:before {
  width: 60px;
  height: 60px;
  animation-direction: reverse;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .heading {
  color: var(--white);
  position: absolute;
  text-align: center;
  width: 80%;
}

@media (max-width: 575.98px) {
  #home .heading h1 {
    font-size: 1.6rem;
  }
}

#home .heading h1 span {
  font-weight: bold;
  color: var(--secondary);
  line-height: 200%;
}

#home .heading .fa-angle-right:hover {
  transition: 1s;
  transform: rotate(90deg);
}

#home .heading .head_btn {
  color: var(--white);
  border: 1px solid var(--white);
  padding: .5rem 1rem;
  border-radius: 0;
  margin-top: 0rem;
  white-space: nowrap;
}

#home .heading .head_btn:hover {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark);
}

#home .heading .head_btn:hover i {
  transform: rotate(90deg);
}

#home .heading .head_btn i {
  transition: transform .7s;
  transform: rotate(0);
}
.head_tn1{
	margin-left: 5px;
}

@media (max-width: 991.98px) {
  #home .heading .typed-desktop + .typed-cursor {
    display: none;
  }
}

#home .heading .typed-cursor {
  font-size: 2.5rem;
}

@media (max-width: 767.98px) {
  #home .heading .typed-cursor {
    font-size: 1.75rem;
  }
}

.navigation-part {
  background-color: #000000;
    text-align:center;
}



.navigation-part .navbar-nav .nav-link {
  color: var(--white);
  font-size: 1rem;
  margin-right: 1.5rem;

}

.navigation-part .navbar-nav .nav-link:hover {
  color: var(--secondary) !important;
  transition: .8s;
}
.navbar-nav{
	text-align:center;
	
}
.nav-item{

}
.navbar{
	text-align:center;
	
}
.topnav {
  position: relative;
  background-color: #000; 
	height: 50px;
	
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	
}

.topnav-centered  {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

#about {
  padding: var(--default-size) 0;
}

#about .about-detail {
  margin-top: var(--default-size);
}

#about .about-detail div[class^="col-"] {
  text-align: center;
  margin-bottom: 1.5rem;
}

#about .about-detail div[class^="col-"] i {
  color: var(--primary-light);
  font-size: 3rem;
  border: 0;
  margin-bottom: 1rem;
}

#about .about-detail div[class^="col-"] h3 {
  font-weight: bold;
}

#about .about-info {
  margin-top: 3rem;
}

#about .about-info div[class^="col-"] {
  text-align: center;
}

#about .about-info div[class^="col-"] img {
  width: 12rem;
}

#about .about-info div[class^="col-"] h4 {
  font-weight: bold;
  color: var(--gray);
  margin-top: 1.5rem;
}

#about .about-info div[class^="col-"] p {
  margin: 0;
}

#about .about-info div[class^="col-"] p:last-child {
  color: var(--secondary);
}

#about .about-info div[class^="col-"] .progress-column {
  margin-bottom: 1rem;
}

#about .about-info div[class^="col-"] .progress-column div[class^="col-"] {
  padding: 0;
}

#about .about-info div[class^="col-"] .progress-column div[class^="col-"] .progress {
  border-radius: 0;
  height: 2rem;
}

#about .about-info div[class^="col-"] .progress-column div[class^="col-"] .progress .progress-bar span {
  font-weight: bold;
	color: #000000;
}

#about .about-info div[class^="col-"] .progress-column div[class^="col-"]:first-child .progress-bar {
  width: 100%;
  background-color:#FFB6C1;
}

#about .about-info div[class^="col-"] .progress-column div[class^="col-"]:last-child .progress-bar {
  background-color: #DB7093;
}
.imgico{
	margin-bottom: 10px;
	margin-top: 5px;
	
}

#project {
  background-color: var(--bg-color);
  padding: var(--default-size) 0;
}

#project ul.nav {
  margin-top: 3rem;
  justify-content: center;
}

#project ul.nav .nav-item {
  width: 8.5rem;
	
}

@media (max-width: 575.98px) {
  #project ul.nav .nav-item {
    width: auto;
  }
}

#project ul.nav .nav-item .nav-link {
  margin-right: 1.5rem;
  text-align: center;
  color: var(--black);
}

#project ul.nav .nav-item .nav-link:hover {
  background-color: #e9488a;
  color: var(--white);
}

@media (max-width: 767.98px) {
  #project ul.nav .nav-item .nav-link {
    margin-right: 0;
  }
}

#project ul.nav .nav-item .nav-link.active {
  background-color: var(--secondary);
  color: var(--white);
}

#project .tab-content {
  text-align: center;
  margin-top: 3rem;
}

#project .tab-content .animate_card {
  margin-bottom: 2rem;
  border: 0;
  position: relative;
}

#project .tab-content .animate_card .card_img {
  height: 16rem;
  border-radius: 0;
}

@media (max-width: 1199.98px) {
  #project .tab-content .animate_card .card_img {
    height: 12rem;
  }
}

#project .tab-content .animate_card .card-overlay .card_text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  width: 95%;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  #project .tab-content .animate_card .card-overlay .card_text {
    font-size: 1.5rem;
  }
}

#project .tab-content .animate_card .card-overlay .card_btn {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: var(--white);
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark);
  border-radius: 0;
}

#project .tab-content .animate_card .card-overlay .card_btn:hover {
  transition: all .5s;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

#project .tab-content .animate_card .card-overlay {
  visibility: hidden;
}

#project .tab-content .animate_card:hover .card_img {
  filter: brightness(50%);
  transition: all .5s;
}

#project .tab-content .animate_card:hover .card-overlay {
  visibility: visible;
}

#project .tab-content .animate_card:hover .card-overlay > * {
  transition: all .5s;
}

#project .tab-content .animate_card:hover .card-overlay .card_text {
  top: 30%;
}

@media (max-width: 767.98px) {
  #project .tab-content .animate_card:hover .card-overlay .card_text {
    top: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #project .tab-content .animate_card:hover .card-overlay .card_text {
    top: 20%;
  }
}

#project .tab-content .animate_card:hover .card-overlay .card_btn {
  bottom: 15%;
}

@media (max-width: 767.98px) {
  #project .tab-content .animate_card:hover .card-overlay .card_btn {
    bottom: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #project .tab-content .animate_card:hover .card-overlay .card_btn {
    bottom: 5%;
  }
}

#project .tab-content .modal-header button:focus {
  outline: none;
}

#project .tab-content .modal-body {
  padding: 0;
}

#project .tab-content .modal-body .modal_block {
  height: 280px;
  position: relative;
  
}

#project .tab-content .modal-body .modal_block .model_image {
  display: block;
  width: 100%;
  max-width: 100%;
  position: absolute;
}

#project .tab-content .modal-body .carousel .carousel-item img {
  display: block;
  width: 100%;
}

#project .tab-content .modal-body .carousel .carousel-control-prev {
  width: 12%;
  background-color: #1B242F;
  left: 0;
  top: 80%;
}

#project .tab-content .modal-body .carousel .carousel-control-next {
  width: 12%;
  background-color: #1B242F;
  right: -0.2px;
  top: 80%;
}

#project .tab-content .modal-body .container h3 {
  text-align: left;
  padding-top: 1.5rem;
}

#project .tab-content .modal-body .container p {
  text-align: left;
  color: var(--gray);
  font-size: .9rem;
}

#project .tab-content .modal-footer {
  display: block;
}

#project .tab-content .modal-footer p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

#project .tab-content .modal-footer p a {
  text-decoration: none;
}

#project .tab-content .modal-footer .cleafix a {
  color: var(--white);
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  border-radius: 0;
  float: left;
}

#project .tab-content .modal-footer .cleafix button {
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 0;
  border: 0;
  float: right;
}

.contact-part {
  background-color: var(--ternary-light);
  color: var(--white);
  margin-top: var(--default-size);
}

.contact-part #contact {
  padding: var(--default-size) 0;
}

.contact-part #contact h1 {
  text-align: center;
}

.contact-part #contact .bot-line {
  border-color: var(--white);
}

.contact-part #contact h6 {
  text-align: center;
  margin-top: 3rem;
  color: var(--primary-dark);
}

.contact-part #contact .contact-form {
  margin-top: 3rem;
}

.contact-part #contact .contact-form div[class^="col-"] {
  margin: auto;
}

.contact-part #contact .contact-form div[class^="col-"] .form-group {
  margin-bottom: .25rem;
}

.contact-part #contact .contact-form div[class^="col-"] .form-group .form-control {
  background-color: var(--form-color);
  border: none;
  color: var(--white);
}

.contact-part #contact .contact-form div[class^="col-"] .form-group:last-child {
  margin-bottom: 0;
}

.contact-part #contact .contact-form div[class^="col-"] .form_btn {
  color: var(--white);
  border: 1px solid var(--white);
  padding: .5rem 1rem;
  margin-top: 1rem;
  border-radius: 0;
  white-space: nowrap;
}

.contact-part #contact .contact-form div[class^="col-"] .form_btn:hover {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark);
}

#footer {
  background-color: #1B242F;
}

#footer p {
  text-align: center;
  color: var(--white);
  margin-top: 3rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

#footer p span {
  color: var(--secondary);
}

#footer .footer-up {
  text-align: center;
}

#footer .footer-up a {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--white);
  border-radius: 0;
  margin-top: -1.7rem;
}

#footer .footer-icons {
  margin-top: 1.5rem;
  text-align: center;
}

#footer .footer-icons a {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--white);
  background-color: var(--ternary-light);
  font-size: 1.25rem;
  
  border-radius: 0;
  border: 0;
  margin-right: 1.5rem;
}

#footer .footer-icons a:hover:nth-child(1) {
  background-color: #000;
}

#footer .footer-icons a:hover:nth-child(2) {
  background-color: #000;
}

#footer .footer-icons a:hover:nth-child(3) {
  background-color: #000;
}

#footer .footer-icons a:hover:nth-child(4) {
  background-color: #000;
}


#footer .footer-icons a:last-child {
  margin-right: 0;
}

#footer .footer-icons a i {
	margin-top: 6px ;
	margin-bottom: 12px auto;
	margin-left: 12px auto;
	margin-right: 12px auto;
  display: block;
}

/*# sourceMappingURL=style.css.map */